#nombrePlaca {
  text-align: center;
}

#fotoPlaca figure {
  background: #1abc9c;
}
#fotoPlaca figure img {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
#fotoPlaca figure:hover img {
  opacity: 0.5;
}
