/* Separar secciones y darle color de fondo */
#Top,
#Colocacion,
#Resultados,
#Calculadora {
  background-color: #dee4a0;
  padding-bottom: 20px;
  padding-top: 10px;
}
#Funcionamiento,
#Modelos,
#Distribuidores,
#Contacto {
  background-color: #a9ba82;
  padding-bottom: 20px;
  padding-top: 10px;
}
/* Centrar titulos de secciones */
#TituloSeccion {
  text-align: center;
  padding-top: 50px;
  color: #646464;
}
