/* Separar secciones y darle color de fondo */
#Top,
#Colocacion,
#Resultados,
#Calculadora {
  background-color: #dee4a0;
  padding-bottom: 20px;
  padding-top: 10px;
}
#Funcionamiento,
#Modelos,
#Distribuidores,
#Contacto {
  background-color: #a9ba82;
  padding-bottom: 20px;
  padding-top: 10px;
}
/* Centrar titulos de secciones */
#TituloSeccion {
  text-align: center;
  padding-top: 50px;
  color: #646464;
}
/* SECCION TOP */
#Logo {
  margin-top: 80px;
  display: block;
  margin: auto;
}
#DescripcionPlaquia {
  margin-top: 30px;
}
/*SECCION COLOCACION: Tiene su propio css */
#linkInstructivo {
  text-decoration: none;
}
.BtnInstructivo {
  font-size: 30px;
  text-align: center;
  color: white;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  background: #849275;
}
.BtnInstructivo a {
  color: rgba(51, 51, 51, 1);
  text-decoration: none;
  display: block;
}
.BtnInstructivo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.BtnInstructivo:hover::before {
  opacity: 0;
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
.BtnInstructivo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
}
.BtnInstructivo:hover::after {
  cursor: pointer;
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
/*SECCION FUNCIONAMIENTO */
#imgFuncionamiento {
  display: block;
  margin: auto;
  padding-bottom: 20px;
}
#TextoSlider {
  text-align: left;
}
/*SECCION RESULTADOS*/

/*SECCION DISTRIBUIDORES*/
#ContainerMapa {
  display: flex;
}
#Mapa {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
/*SECCION CALCULADORA*/
#ContenedorCalculadora {
  background-color: #7da7bc;
}
Form.Control {
  width: 100%;
}
#InputCalculadora {
  width: 100%;
}
/*SECCION CONTACTO*/
#EpigrafeMail {
  text-align: center;
}

/*Botones*/
#BotonEnviarConsulta:hover {
  box-shadow: inset 0 100px 0 0 #7da7bc;
}

#BotonCalcular,
#BotonResultados,
#BotonEnviarConsulta {
  background-color: #dee4a0;
  color: #646464;
  border: 2px solid;
  border-radius: 10px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Arial";
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #a9ba82;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

#BotonCalcular:hover,
#BotonResultados:hover {
  box-shadow: inset 0 0 0 50px #a9ba82;
}
/*Footer*/
#Footer {
  background-color: #646464;
}

#Inti {
  display: flex;
  justify-content: center;
  align-items: center;
}
#FooterContacto {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  color: white;
}
#RedesSociales {
  display: flex;
  justify-content: center;
  align-items: center;
}
hr {
  border: none;
  border-left: 1px solid hsla(200, 10%, 50%, 100);
  height: 125px;
  width: 2px;
}
#IconoContacto {
  color: #646464;
  background: #a9ba82;
  float: left;
  margin: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  font-size: 25px;
  position: relative;
  transition: 0.5s ease-in-out;
  z-index: 1;
}

#IconoContacto:before {
  color: #646464;
  background: #a9ba82;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform: scale(1);
  transition: 0.5s ease-in-out;
  z-index: -1;
}
/*Iconos redes sociales*/

#IconoContacto:hover:before {
  color: black;
  background: #dee4a0;
  transform: scale(1);
}

#IconoContacto:hover {
  color: #646464;
  background: #a9ba82;
}
#DatosContacto {
  display: flex;
  align-items: center;
}

/*Iconos redes sociales*/
#Redes {
  padding: 0;
  margin: 0;
  text-align: center;
}
.BotonRedSocial {
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}
.BotonRedSocial i {
  line-height: 90px;
  font-size: 26px;
  transition: 0.2s linear;
}

.BotonRedSocial:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}

.BotonRedSocial::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.BotonRedSocial:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0% {
    top: -110%;
    left: 90%;
  }
  50% {
    top: 10%;
    left: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
