#Footer {
  background-color: #646464;
}

#Inti {
  display: flex;
  justify-content: center;
  align-items: center;
}
#FooterContacto {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
  color: white;
}
#RedesSociales {
  display: flex;
  justify-content: center;
  align-items: center;
}

#IconoContacto {
  color: #646464;
  background: #a9ba82;
  float: left;
  margin: 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
  z-index: 1;
}

#IconoContacto:before {
  color: #646464;
  background: #a9ba82;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform: scale(1);
  transition: 0.5s ease-in-out;
  z-index: -1;
}

#IconoContacto:hover:before {
  color: black;
  background: #dee4a0;
  transform: scale(1);
}

#IconoContacto:hover {
  color: #646464;
  background: #a9ba82;
}
#DatosContacto {
  display: flex;
  align-items: center;
}

/*Iconos redes sociales*/
#Redes {
  padding: 0;
  margin: 0;
  text-align: center;
}
.BotonRedSocial {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}
.BotonRedSocial i {
  line-height: 60px;
  font-size: 26px;
  transition: 0.2s linear;
}

.BotonRedSocial:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}

.BotonRedSocial::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.BotonRedSocial:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0% {
    top: -110%;
    left: 90%;
  }
  50% {
    top: 10%;
    left: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
